

.title {
    display:flex;
    justify-content:center;
}

.extras {
    background-color: lightgray;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: start;
    font-size: 1em;
}
.overBroen {
    margin-top: 20px;
}

.extras > div {
    padding-left: 0px;
    margin-left:0px;
}
.extras > label {
    padding-left: 0px;
    margin-left: 0px;
}

.checkbox {
    transform: scale(1.5);
    padding-left: 0px;
    margin-left: 0px;
}

.page-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    gap: 50px;
    margin-left: 100px;
}
.calcBody {
    background-color: yellowgreen;
    height: fit-content;
    width: fit-content;
    padding: 20px;

}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.information-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    width: fit-content;
    background-color: black;
    border-radius: 10px;
    color:white;
}

#divCon {
    padding-top: 5px;
}

.title {
    color: green;
    font-weight: bolder;
    font-size: 3em;
}

#calcbut {
    padding-top:10px;

}

#calculatePrice {
    background-color: lawngreen;
    color: black;
    font-weight: bold;
    padding:5px;
    border-radius:5px;
}

#calculatePrice:hover {
    background-color: darkseagreen;
}

th, td {
    padding: 20px;
    color: white;
}

th {
    font-size: 1em;
}

#passagerer {
    font-size: 1em;
}
#tid {
    font-size: 1em;
}

.receipt {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f7f7f7;
    width: fit-content;
}

.receipt > h4{
    font-weight: bolder;
    color:green;
}

#totalPrice{
    text-decoration: underline;
    color:blue;
    font-weight:bold;
}
#totalp {
    padding-top:20px;
    display:flex;
}

.gmButton {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .gmButton:hover {
        background-color: grey;
    }
    .gmButton:hover:after{
        visibility: visible;
    }

    .gmButton:hover:before{
        opacity:1;
        visibility: hidden;
    }

label {
    font-weight:bold;
}

input {
    width: 120px;
    padding: 5px;
}

select {
    padding:5px;
}

.prisTitel {
    font-weight: bolder;
    font-size: 1.2em;
    display:flex;
    justify-content: center;
    padding-bottom:10px;
}

