@page "/"

<PageTitle>TAXA4x27</PageTitle>



<div class="blur-container">
    <img src="/images/4x27.jpg" alt="Background Image" class="background-image" />
    <div class="overlay">
        <div class="headercontainer">
         <div class="header">
        <h1 id="headerTitle">TAXA 4x27</h1>
         </div>
       </div>
        
    </div>
</div>