@page "/taxa-priser"

<PageTitle>Taxa Priser</PageTitle>

<div class="bodyContainer">
    
    <div class="vogn">

        
        <div class="vogn1">
            <table>

              <tr>
                <th id="vognNavn">Almindelige Vogn</th>
                 <th>Start</th>
                 <th>Kilometer</th>

              </tr>

              <tr>
                <td>1-6 passagerer</td>

                  
                   <td>37(kr./tur)</td>

                   <td>12,75(kr./km)</td>


              </tr>

              <tr>
                <th id="tid">Dagtimer</th>
              </tr>

               <tr>
                <td>Mandag-Fredag kl.06-18</td>
              </tr>

            </table>
        </div>

       
         <div class="vogn2">
            <table>

              <tr>
                <th id="vognNavn">Almindelige Vogn</th>
                 <th>Start</th>
                 <th>Kilometer</th>


              </tr>

              <tr>
                <td>1-6 passagerer</td>

                  
                   <td>47(kr./tur)</td>

                   <td>16(kr./km)</td>

              </tr>

              <tr>
                <th id="tid">Aften/nat/weekend/helligdag</th>
              </tr>

               <tr>
                <td id="nat">Mandag-Fredag kl.18-06</td>
              </tr>
              <tr>
               <td id="nat">Lørdag-Søndag kl.00-24</td>
              </tr>

            </table>
        </div>
        

        <div class="vogn3">
            <table>

              <tr>
                <th id="vognNavn">Store Vogn - minibus</th>
                 <th>Start</th>
                 <th>Kilometer</th>

              </tr>

              <tr>
                <td>7-8 passagerer</td>

                  
                   <td>77(kr./tur)</td>

                   <td>17(kr./km)</td>


              </tr>

              <tr>
                <th id="tid">Dagtimer</th>
              </tr>

               <tr>
                <td>Mandag-Fredag kl.06-18</td>
              </tr>

            </table>
        </div>


        <div class="vogn4">
            <table>

              <tr>
                <th id="vognNavn">Store Vogn - minibus</th>
                 <th>Start</th>
                 <th>Kilometer</th>

              </tr>

              <tr>
                <td>7-8 passagerer</td>

                  
                   <td>87(kr./tur)</td>

                   <td>19(kr./km)</td>


              </tr>

              <tr>
                <th id="tid">Aften/nat/weekend/helligdag</th>
              </tr>

               <tr>
                <td id="nat">Mandag-Fredag kl.18-06</td>
              </tr>
              
              <tr>
               <td id="nat">Lørdag-Søndag kl.00-24</td>
              </tr>

            </table>
        </div>


    </div>

</div>
