body {
}

.bodyContainer {
}

.vogn {
    padding: 50px;
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    gap: 20px;
}

.vogn1, .vogn2, .vogn3, .vogn4 {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

th, td {
    padding: 10px;
    color: white;
}

th {
    font-size: 0.9em;
}

#vognNavn {
    font-weight: bolder;
    font-size: 2em;
}

#tid {
    font-weight: bolder;
    font-size: 1.5em;
}

#nat {
    padding-top: 0;
    margin: 0;
}
